<ion-view view-title="Restaurant">
  <ion-content class="padding">        
   <div class="signin">
     <div class="signinDetails">
        <h2 >Welcome to Restaurant App</h2>   
          <div class="list">
              <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="reservations.name" required>
              </label>
              <label class="item item-input">
                <input type="email" placeholder="Email" ng-model="reservations.email" required>
              </label>
           
              <label class="item item-input">
                <input type="text" placeholder="Address" ng-model="reservations.address" required>
              </label>
        
              <label class="item item-input" required>
                  <input type="text" placeholder="City" ng-model="reservations.city" required>
                </label>
           
                <label class="item item-input">
                    <input type="text" placeholder="Postal Code" ng-model="reservations.postal" required>
                  </label>
         
                <button class="button  button-full button-dark" ng-click="saveReservation()">
                  Get Started
                </button>
            </div>
           
     </div>
   </div>
  </ion-content>
</ion-view>
