<ion-view view-title="Features">    
 <ion-content>
  <ion-list>
   <div class="features">
    <h1>Customizable Restaurant Management System</h1>
    <p>Waitlist, Table, Reservation, and Loyalty Program management for restaurants</p>
   </div>
   <div class="featureList list card">

    <div align="center">
     <a target="_blank" href="img/download.jpg">
     <img src="img/download.jpg" alt=" Reservation Management"> </a>
        <h3>Reservation Management</h3>
        <div class="desc"> Accept online reservations any time of the day from your website,
            your social media channels or the Hostme reservation site and
            never miss a reservation again.</div>
    </div>

    <div align="center">
      <a target="_blank" href="img/tableMngmt.jpg">
    <img src="img/tableMngmt.jpg" alt=" Table Management" ></a>
        <h3>Table Management </h3>
        <div class="desc"> Seat more guests with one-click table assignment capability,
             visual assessment of table statuses, 
             and restaurant occupancy tracking on a customizable floor map. </div>
    </div>

    <div align="center">
            <a target="_blank" href="img/guest.jpg">
          <img src="img/guest.jpg" alt="Guest Book"></a>
              <h3> Guest Book</h3>
              <div class="desc">Make your guests feel appreciated and offer them memorable experi­ences by
                    remembering their past preferences
                    and adding special requests to their reservations.</div>
    </div>

    <div align="center">
            <a target="_blank" href="img/waitlist.jpg">
          <img src="img/waitlist.jpg" alt="Waitlist" ></a>
              <h3>Waitlist</h3>
              <div class="desc">Eliminate costly pager losses and free your guests by sending
                   them a text on their phone when their table is ready. </div>
    </div>

    <div align="center">
            <a target="_blank" href="img/guestlabel.jpg">
          <img src="img/guestlabel.jpg" alt="Customizable Statuses & Guest Labels" ></a>
              <h3>Customizable Statuses & Guest Labels</h3>
              <div class="desc">Capture information you value about your guests 
                    or table turnovers by creating your very own labels and statuses.</div>        
    </div>

    <div align="center">
            <a target="_blank" href="img/restaurantReservation.jpg">
          <img src="img/restaurantReservation.jpg" alt=" Reservation Deposits"></a>
              <h3> Reservation Deposits</h3>
              <div class="desc">Eliminate costly no-shows by requesting 
                    "Reservation Deposits" or charging "Cancellation Fees". </div>  
    </div>

   </div>
  </ion-list>
 </ion-content>
</ion-view>
      