<ion-view view-title="About">
  <ion-content>
    <div class="about">
      <h1> Our Story</h1>
    </div>
    <div class="aboutDetail">
      <p>We all love to go out and try new restaurants. 
        But a long waitlist can ruin a culinary experience before the first bite.
     This app was born from our food-loving team's frustration about waiting-and our always churning creative minds.
      We asked ourselves, What if we could simply carry our mobile phones, and wait for a text, instead of holding onto a big buzzer with a limited range?
       What if we could choose to wait a little longer long enough to finish up that drink and that conversation without losing our table entirely?
        What if we could be rewarded for our patience, and earn loyalty points for the time we spent waiting in a virtual line?
         </p> 
         <p>
          This restaurant app is our answer. Waiting is a frame of mind. Restaurant app reduces frustration for diners,
           hosts and restaurants and replaces the traditional reservation system 
           with a real-time app that makes no-shows and big buzzers obsolete.</p>
    </div>
    <div class="footer">
        <footer>
            <p>Posted by: Sumanpreet Dhanoa</p>
            <p>Contact information: <a href="mailto:Sdhanoa2244@conestogac.on.ca">
            Sdhanoa2244@conestogac.on.ca</a>.</p>
          </footer>
    </div>
   
    </ion-list>
  </ion-content>
</ion-view>
