<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Restaurant Tab -->
  <ion-tab title="Restaurant" icon-off="ion-ios-location" icon-on="ion-ios-location" href="#/tab/restaurant">
    <ion-nav-view name="tab-restaurant" ></ion-nav-view>
  </ion-tab>

   <!-- MyReservation Tab -->
   <ion-tab title="My Reservation" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/myReservation">
    <ion-nav-view name="tab-myReservation"></ion-nav-view>
  </ion-tab>

  <!-- About Tab -->
  <ion-tab title="About" icon-off="ion-ios-information-outline" icon-on="ion-ios-information" href="#/tab/about">
    <ion-nav-view name="tab-about"></ion-nav-view>
  </ion-tab>

  <!-- Features Tab -->
  <ion-tab title="Features" icon-off="ion-ios-help-outline" icon-on="ion-ios-help" href="#/tab/features">
    <ion-nav-view name="tab-features"></ion-nav-view>
  </ion-tab>

</ion-tabs>
